* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.layout {
    display: grid;
    grid-template-areas: 
    "navigation header"
    "navigation h-content";
    grid-template-columns: 246px auto;
    grid-template-rows: 114px auto;
    height: 100%;
}

.navigation {
    grid-area: navigation;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 26px;
    border-radius: 20px;
}

.navigation__links-list {
    flex: 1;
    margin-top: 46px;
}

.navigation__link {
    height: 46px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(77, 77, 77, 1);
    padding: 0 18px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 120%;
    font-weight: bolder;
}

.navigation__link:focus {
    background-color: rgba(27, 89, 248, 0.1);
    color: rgba(27, 89, 248, 1);
}

.navigation__link-image:focus {
    color: rgba(27, 89, 248, 1);
}

.navigation__link-image {
    background-color: #4d4d4d;
    height: 20px;
    width: 20px;
    margin-right: 18px;
}

.link-image--reports {
    mask: url(assets/Vector.svg) no-repeat center / contain;
    -webkit-mask: url(assets/Vector.svg) no-repeat center / contain;
}

.link-image--library {
    mask: url(assets/Path.png) no-repeat center / contain;
    -webkit-mask: url(assets/Path.png) no-repeat center / contain;
}

.link-image--people {
    mask: url(assets/group_24px.png) no-repeat center / contain;
    -webkit-mask: url(assets/group_24px.png) no-repeat center / contain;
}

.link-image--activities {

    mask: url(assets/activities.png) no-repeat center / contain;
    -webkit-mask: url(assets/activities.png) no-repeat center / contain;

}

.link-image--get-started {

    mask: url(assets/started.png) no-repeat center / contain;
    -webkit-mask: url(assets/started.png) no-repeat center / contain;

}

.link-image--settings {
    color: #4d4d4d;
    mask: url(assets/setings.png) no-repeat center / contain;
    -webkit-mask: url(assets/setings.png) no-repeat center / contain;

}



.navigation__links-list {
    font-size: 16px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.5);

}

.navigation__link-name {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 120%;
    font-weight: bolder;

}

.navigation__account {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: flex-end;
    border-top: 1px solid rgba(229, 229, 229, 1)

}

.navigation__account-header {
    margin: 9px 0 0 0;
    font-size: 14px;
    line-height: 120%;
}

.navigation_acount-email {
    font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.5);
}

.header {
    grid-area: header;
    padding: 38px 65px 27px 44px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    margin: 0;
    font-size: 24px;
    line-height: 120%;
}

.header__left {
    display: flex;
    gap: 34px;

}

.header__links-container {
    display: flex;
    gap: 14px;
}

.header__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 120%;
    padding: 12px 30px 16px 28px;
    border-radius: 10px;
    font-weight: bolder;
}

.header__link:focus {
    background-color: white;
    color: rgba(27, 89, 248, 1);
}

.header__save-button-container {
    display: flex;
    gap: 6px;
    padding: 14px 16px;
    background-color: white;
    border-radius: 10px;
}

.header__save-button {
    mask: url(assets/close_24px.png) no-repeat center / contain;
    -webkit-mask: url(assets/close_24px.png) no-repeat center / contain;
    background-color: rgba(27, 89, 248, 1);
    height: 10px;
    width: 10px;
    align-self: center;
}

.header__save-button-name {
    color: rgba(27, 89, 248, 1);
    font-size: 14px;
    line-height: 120%;
    font-weight: bolder;
}

.content {
    grid-area: h-content;
    
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-areas: 
        "navigation"
        "h-content";
        grid-template-columns: auto;
        grid-template-rows: 114px auto;
    }
    
    .header {
        display: none;
    }


}