* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
}

.wrapper {
    padding: 10px 20px;
    margin: 0 auto;
}

main {
    background-color: rgb(218, 218, 218);
    min-height: calc(100vh - 60px);
}

.pic-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    min-height: 390px;
}

.pic-couple {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-basis: calc(50% - 6px);
}

@media screen and (max-width: 1024px) {

    .pic-couple:nth-child(odd) div:nth-child(1) img,
    .pic-couple:nth-child(even) div:nth-child(2) img {
        height: 125px;
        width: 100%;
        max-width: 100%;
    }

    .pic-couple:nth-child(odd) div:nth-child(2) img,
    .pic-couple:nth-child(even) div:nth-child(1) img {
        height: 205px;
        width: 100%;
        max-width: 100%;
    }

}


@media screen and (min-width: 1025px) {
    .wrapper {
        padding: 20px 32px;
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        max-width: 1025px;
        padding: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .pic-grid {
        flex-direction: column;
        gap: 20px;
    }

    .pic-couple {
        flex-direction: row;
        gap: 20px;
        height: 400px;
    }

    .pic-couple div {
        height: 400px;
    }

    .pic-couple:nth-child(odd) div:nth-child(1) img,
    .pic-couple:nth-child(even) div:nth-child(2) img {
        flex: 1;
    }

    .pic-couple:nth-child(odd) div:nth-child(2) img,
    .pic-couple:nth-child(even) div:nth-child(1) img {
        flex: 2;
    }
}